:root {
    /*--color--*/
--btn-color-iris: #4d5ae5;
--text-color: #434455;
--main-header-color: #2e2f4;
--white-color: #fffV;
--backgraund-light: #f4f4fD;
--backgraund-dark: #2E2F42;
}
/*base styles*/
.main-tittle {
	font-size: 56px;
	font-family: "Roboto";
	font-weight: 700;
	font-style: normal;
	line-height: 60px;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;

    color:  #2E2F42; 
}
.main-tittle-light {
    color:#FFFFFF;
}
.sektion-tittl {
	font-size: 36px;
	font-family: "Roboto";
	font-weight: 700;
	font-style: normal;
	line-height: 40px;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: capitalize;
}
.subtittle {
	font-size: 20px;
	font-family: "Roboto";
	font-weight: 500;
	font-style: normal;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
}

.description {
	font-size: 16px;
	font-family: "Roboto";
	font-weight: 500;
	font-style: normal;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
}
.button-text {
	font-size: 16px;
	font-family: "Roboto";
	font-weight: 500;
	font-style: normal;
	line-height: 24px;
	letter-spacing: 0.04em;
	text-decoration: none;
	text-transform: none;
}
.small-text {
	font-size: 12px;
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;
	line-height: 14px;
	letter-spacing: 0.04em;
	text-decoration: none;
	text-transform: none;
}

body {
    background-color: var(--white-color);
        font-family: "Roboto";
        font-weight: 400;
        font-style: normal;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-decoration: none;
        text-transform: none;
    }
.tittle {
    position: absolute;
    width: 1440px;
    height: 72px;
    left: 0px;
    top: 0px;
}
.nav-tittle {
    position: absolute;
    width: 115px;
    height: 24px;
    left: 156px;
    top: 24px;
}
.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;

    color: #4D5AE5;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo-studio {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;

    color: #2E2F42;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.list {
    list-style: none;
}
.link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 40px;
    color: var(--text-color);

    position: absolute;
    width: 261px;
    height: 24px;
    left: 347px;
    top: 0px;
}
.link-item {

    flex: none;
    order: 0;
    flex-grow: 0;
}
.studio {
    width: 48px;
    height: 24px;
}
.portfolio {
    width: 66px;
    height: 24px;
}
.contacts{
    width: 67px;
    height: 24px;
}
.adress {
   
}
.adress-item {

   
}
.mailto {
    position: absolute;
    width: 153px;
    height: 24px;
    left: 940px;
    top: 24px;
}
.tel {
    position: absolute;
    width: 151px;
    height: 24px;
    left: 1133px;
    top: 24px;
}
.hero {
    background-color: var(--backgraund-dark);
    position: absolute;
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 72px;
}
.hero-tittle {
    position: absolute;
    width: 496px;
    height: 120px;
    left: 472px;
    top: 140px;
}
.button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    
    position: absolute;
    width: 169px;
    height: 56px;
    left: 636px;
    top: 358px;
    
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.button:hover,.button:focus {
    background-color: #404BBF;;
}
.feature {
    
}
.feature-tittle {
   
}
.feature-list {
    box-sizing: border-box; 
    width: 264px;
    height: 72px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    

}
.feature-list-item-strategy {   
    box-sizing: border-box; 
    position: absolute;
    width: 264px;
    height: 104px;
    left: 92px;
    top: 792px;
    
    background: #FFFFFF;
    border: 1px solid #000000;
}
.feature-list-item-punktuality{ 
    box-sizing: border-box;

   position: absolute;
   width: 264px;
   height: 104px;
   left: 404px;
   top: 792px;
   
   background: #FFFFFF;
   border: 1px solid #000000; 
}
.feature-list-item-diligence{ 
    box-sizing: border-box;

   position: absolute;
   width: 264px;
   height: 104px;
   left: 720px;
   top: 792px;
   
   background: #FFFFFF;
   border: 1px solid #000000;
}
.feature-list-item-technologies{ 
    box-sizing: border-box;

   position: absolute;
   width: 264px;
   height: 104px;
   left: 1032px;
   top: 792px;
   
   background: #FFFFFF;
   border: 1px solid #000000;
}
.feature-item-tittle {
   
}
.feature-content {
    
    color:var(--text-color)
}
.about {
   
}
.about-tittle {
    position: absolute;
    width: 323px;
    height: 40px;
    left: 559px;
    top: 1016px;
}
.about-list {
}
.about-item {
}
.about-decktopimg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 360px;   
    height: 300px;
    left: 156px;
    top: 1128px;
}
.about-smartphonimg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 360px;
    height: 300px;
    left: 540px;
    top: 1128px;
}
.about-aplicationimg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 360px;
    height: 300px;
    left: 924px;
    top: 1128px;
}
.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 232px;
    height: 56px;

    flex: none;
    order: 1;
    flex-grow: 0;

    position: absolute;
    width: 1440px;
    height: 732px;
    left: 0px;
    top: 1548px;

    background:var(--backgraund-light);
}
.team-tittl {
    position: absolute;
    width: 162px; 
    height: 40px;
    left: 639px;
    top: 1668px;
}
.team-list li {
   
}
.team-list-item-mark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;
    
    position: absolute;
    width: 264px;
    height: 380px;
    left: 156px;
    top: 270px;
    
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.team-list-item-tom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;
    
    position: absolute;
    width: 264px;
    height: 380px;
    left: 444px;
    top: 270px;
    
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.team-list-item-camila {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;
    
    position: absolute;
    width: 264px;
    height: 380px;
    left: 732px;
    top: 270px;
    
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;   
}
.team-list-item-daniel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;
    
    position: absolute;
    width: 264px;
    height: 380px;
    left: 1020px;
    top: 270px;
    
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.team-item-img {

}
.team-item-name {

}
.team-item-function {


}
.footer {
    
position: absolute;
width: 1440px;
height: 312px;
left: 0px;
top: 2280px;

background: var(--backgraund-dark)
}
.feature-item {

}