body {
    background-color: #FFFFFF;
    font-family: sans-serif;
    }

.top-line {
    position: absolute;
    width: 1440px;
    height: 72px;
    left: 0px;
    top: 0px;
}
.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;

    color: #4D5AE5;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;

    position: absolute;
    width: 115px;
    height: 24px;
    left: 156px;
    top: 24px;
}
.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 40px;

    position: absolute;
    width: 261px;
    height: 24px;
    left: 347px;
    top: 24px;
}
.adress 
.adress-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;


}
.hero {
    background-color: #2E2F42;
    position: absolute;
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 72px;
}
.feature {
    position: absolute;
    width: 1128px;
    height: 104px;
    left: 156px;
    top: 792px;
}
.about {
    position: absolute;
    width: 1128px;
    height: 412px;
    left: 156px;
    top: 1016px;
}
.team {
    position: absolute;
    width: 1440px;
    height: 732px;
    left: 0px;
    top: 1548px;
}
.footer {
    position: absolute;
    width: 1440px;
    height: 312px;
    left: 0px;
    top: 2280px; 
}